@model IEnumerable<UrunPrj.Application.Models.ViewModels.Sepet.SepettekiUrunVM>

@{
    ViewData["Title"] = "Index";
}
<h1>Sepetteki Ürünler</h1>



<table class="table ">
    <thead>
       
        <tr>
            @*   <th>
            @Html.DisplayNameFor(model => model.SepetID)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.UrunID)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.UyeID)
            </th> *@
            <th>
               Ürün Adı
            </th>
            <th>
                Adet
            </th>
            <th>
                Birim Fiyat
            </th>
            <th>
                Tutar
            </th>
            <th>
                Stoktaki Ürün Adedi
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*     <td>
            @Html.DisplayFor(modelItem => item.SepetID)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.UrunID)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.UyeID)
            </td> *@
                <td>
                    @Html.DisplayFor(modelItem => item.UrunAdi)
                </td>
                <td>
                   @*  @Html.DisplayFor(modelItem => item.Adet) *@
                    <form method="post" asp-action="Guncelle" >
                       <input type="number" name="Adet" value="@item.Adet" max="@item.StoktakiUrunAdedi" min="1"/>
                       <input type="hidden" value="@item.SepetID" name="id"/>
                       <input  type="hidden" value="@item.UrunID" name="urunID"/>
                        <input type="submit" value="Güncelle" />
                   </form>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirimFiyat)
                </td>
                <td>
                   @(item.BirimFiyat * item.Adet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StoktakiUrunAdedi)
                </td>
                <td>
                                    
                    @Html.ActionLink("Delete", "Delete", new {  id=item.SepetID },new{onclick="returnconfirm('Urun Silinsin Mi?')",@class="btn btn-danger"})
                </td>
            </tr>
        }
    </tbody>
       
</table>
<div>
    <a asp-area="UyePanel" asp-controller="Sepet" asp-action="SatinAl" class="btn btn-outline-success" >Satın Al</a>
</div>
       


